* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  width: 100%;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: url("http://cdn.eso.org/images/screen/milky-way-ch17-bardon-o28-cc.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.header,
.footer {
  display: flex;
  background-color: tomato;
  justify-content: space-around;
  padding: 5rem; }

.solar-system-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  margin: auto;
  width: 50%; }

.planet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }
  .planet h1 {
    columns: white;
    font-size: 2rem; }
  .planet img {
    border-radius: 100%;
    object-fit: cover;
    width: 50%;
    max-height: 100%; }

.planet > * {
  padding: 1rem; }
